:host {
  background: #a1a1a1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;

  a {
    background: #747474;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 1 100vw;
    margin: 0 3%;
  }
}



