/* Propriedades que se aplicam a todos os elementos da página. */
* {
  /* Remove a margem externa de todos os lados do elemento. */
  margin: 0;

  /* Remove o espaçamento interno de todos os lados do elemento. */
  padding: 0;

  /* Inclui o preenchimento e a borda na largura e altura. */
  box-sizing: border-box;

  background: transparent;
}
